<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="defaultLanguage" content="en-US">
    <meta name="availableLanguages" content="en-US">
    <link rel="localization" href="/l10n/{locale}.ftl">
    <title><%= htmlWebpackPlugin.options.title %></title>
  </head>
  <body>
  </body>
</html>
